@keyframes kenBurns {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

.App{
  position: relative;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/au.jpg');
  background-size: cover;
  background-position: center;
  filter: brightness(50%); /* Darkens the background image */
  z-index: -1; /* Places the background behind the content */
  animation: kenBurns 8s  ease infinite alternate;
  

}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  position: absolute;
  top: 38.2%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: white;
}

.startButton{
  position: absolute;
  padding: 15px 30px;
  bottom: 25%;
  font-size: 1.2rem;
  background-color: #1c8f2e;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  
}

