@keyframes slideUp{
    from{
        opacity: 0;
        transform: translateY(100%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.introduction-page{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 60px 0;
    overflow-y: auto;
}

.introduction-page::before{
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../images/uni.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(30%);
    z-index: -1;
}


.introduction-container{
    position: relative;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: 10%;
    padding-right: 35%;
    color: white;
    z-index: 1;
    opacity: 0;
    animation: fadeIn 1.2s ease forwards;
}

.explore{
    cursor: pointer !important;
    
    position: relative;
    font-size: 1.2rem;
    padding: 12px 26px;
    background-color: #ffffff00;
    color: green;
    border: 3px solid green;
    margin-top: 40px;
    transition: all 0.3s ease;
}

.explore:hover {
    background-color: #4CAF50; 
    color: white; 
    border-color: #4CAF50; 
}

.introduction-container h1 {
    color: #ffffff;
    font-size: 2.5rem;
    
}

.introduction-container p {
    color: #ffffff;
    font-size: 1.2rem;
}

.introduction-container h2 {
    margin-top: 70px;
    color: #ffffff;
    font-size: 1.7rem;
    
}

